<div class="d-none d-sm-block">
  <div class="text-center mx-auto mt-5">
    <a href="/">
      <img src="/assets/images/logo.svg" alt="logo-atelie" height="100" />
    </a>
  </div>
  <div class="mt-5">{% include navbar.html%}</div>

  <div class="mb-5">
    <hr style="border-top: 3px solid black" />
  </div>
</div>

<div class="d-block d-sm-none p-3">
  <div class="row justify-content-between">
    <div class="col-4">
      <a href="/">
        <img src="/assets/images/logo.svg" alt="logo-atelie" height="75" />
      </a>
    </div>
    <div class="col-8 align-self-center">{% include navbar.html%}</div>
  </div>
</div>
