<div class="d-none d-sm-block">
  <div class="text-center mx-auto mt-5">
    <a href="/">
      <img src="/assets/images/logo.svg" alt="logo-atelie" height="75" />
    </a>
  </div>
  {% include navbar.html%}

  <div class="mt-5 mb-5">
    <hr style="border-top: 2px solid black" />
  </div>
</div>

<div class="d-block d-sm-none p-3">
  <div class="row justify-content-between">
    <div class="col-4">
      <a href="/">
        <img src="/assets/images/logo.svg" alt="logo-atelie" height="75" />
      </a>
    </div>
    <div class="col-8 align-self-center">{% include navbar.html%}</div>
  </div>
</div>
