body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

h1 {
  font-weight: bold;
}

.current {
  font-weight: bold;
}

.nav-item {
  color: black !important;
}

.navbar-toggler {
  border: none !important;
  color: black;
}

a{
  color: black !important;
}

hr{
  border: none;
}

p{
  text-align: justify;
}

a{
  text-decoration: none;
}