<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div>
        <a href="/">
          <p>&larr; voltar</p>
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4 mb-4">
          <img src="{{page.image}}" alt="{{page.title}}" class="img-fluid" />
        </div>
        <div class="col-sm-6 col-lg-4 mb-4">
          <h2>{{page.title | upcase}}</h2>
          {{content}}
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
